<div id="wrapper">
  <div class="intro">
    <p><%= t('home.p1') %> </p>
    <p><%= t('home.p2') %> </p>
  </div>

  <%= render 'meetups' %>
  <div class="clear"></div>
  <%= render 'blog' %>
  <%= render 'users' %>
</div>

