<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <!--[if IE 7 ]>    <html class= "ie7"> <![endif]-->
  <!--[if IE 8 ]>    <html class= "ie8"> <![endif]-->
  <!--[if IE 9 ]>    <html class= "ie9"> <![endif]-->
  <!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
  <head>
    <title><%= @title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="<%= @description %>"/>
    <meta name="keywords" content="<%= @keywords %>"/>
    <%= favicon_link_tag %>
    <%= favicon_link_tag "favicon.ico", :type => "image/x-icon"%>
    <%= favicon_link_tag "apple-touch-icon.png", :rel => "apple-touch-icon", :type => "image/png" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= render '/layouts/menujs' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render '/layouts/menu' %>
    <%= yield %>
    <%= render '/layouts/footer' %>
    <%#= render '/layouts/ganalitics' %>
  </body>
</html>
